* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }

.main {
    background-color: #32dac4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

h2{
    font-size: 20px;
    align-self: center;
    padding: 10px;
    margin: 10px;
}

.button{
    padding: 10px;
    border-radius: 40px;
    background-color: white;
    border-style: solid ;
    border-color: black;
    border-width: 1px;
    transition: color ease 1s,
   
}

button:hover {
   background-color: pink;
  }

.button_link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* padding: 10px 0; */
    
      
}

.main_second {
        background-color: pink;
    
  }

h3{
    padding: 20px;
    line-height: 40px;
}